.Display {
  text-align: center;
}

.displayBox {
  text-align: center;
}

.displayImage {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  margin: 10px;
}

.displayCaption {
  text-align: center;
}